:root {
    --primary-color: antiquewhite;
    --secondary-color: #cfe28f;
    --accent1-color: #d39d58;
    --accent2-color: #044e5d;
    --heading-font: "Georgia", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --nav-background-color: var(--secondary-color);
    --nav-link-color: #000;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: var(--primary-color);
}

body {
    text-align: center;
    background-color: #ffffff; /* Secondary Color */
    color: #044e5d; /* Primary Color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to top right, antiquewhite, #f5f2c3, #efeab4, #f7f7dc);
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    max-width: 100px;
    margin-right: 20px;
}

.header-left h1 {
    font-family: 'Georgia', serif; /* ou a fonte desejada */
    margin: 0; /* remove margem padrão */
}

.menu-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.menu-button:focus {
    outline: none;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #044e5d;
    border-radius: 5px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.menu-button.open .menu-icon:nth-child(1) {
    transform: rotate(45deg);
}

.menu-button.open .menu-icon:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.menu-button.open .menu-icon:nth-child(3) {
    transform: rotate(-45deg);
}

nav.home {
    flex-grow: 1; /* faz o nav ocupar o espaço disponível */
    display: flex;
    justify-content: center; /* centraliza os itens horizontalmente */
}

nav a {
    color: #044e5d;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--primary-color);
    color: #bd4b4b;
    border-radius: 5px;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

.cars-gallery {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.cars-gallery h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cars-grid figure {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
    text-align: center;
}

.cars-grid img {
    max-width: 100%;
    height: auto;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cars-card {
    background-color: #fce5e563;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden; /* Para garantir que a sombra não vaze */
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow interno */
}

.cars-info {
    padding: 20px;
    text-align: center;
}

.cars-info h3 {
    margin-top: 0;
    color: #4d0674;
}

.cars-image {
    padding: 20px;
}

.cars-image img {

    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra na imagem */
}


footer {
    background-image: linear-gradient(to top right, antiquewhite, #f5f2c3, #efeab4, #f7f7dc);
    color: #044e5d; /* Primary Color */
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer img {
    margin: 0 10px;
    width: 30px;
    height: auto;
}

@media screen and (max-width: 699px) {
    .menu-button {
        display: flex;
    }

    nav.navigation {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to top right, antiquewhite, #f5f2c3, #efeab4, #f7f7dc);
        z-index: 999;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .navigation.open {
        display: flex;
    }

    .navigation a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}