@media screen and (max-width: 600px) {
    :root {
        --paragraph-font: 'Roboto', sans-serif;
        --primary-color: #0e9fe2;
    }
    
    body {
        background-color: #f2f2f2;
        font-family: var(--paragraph-font);
        margin: 0;
        padding: 0;
        display: grid;
        align-items: center;
        width: 100%;
    }
    
    .container {
        border-radius: 2px 2px 0 0;
        width: 100%;
        max-width: 98%;
        align-items: center;
        margin: 0 auto;
    }
    
    h1 {
        align-self: center;
        color: #ffffff;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    header {
        background-color: #410a4d;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(138, 138, 138, 0.1);
        width: 100%;
    }
    
    h2 {
        text-align: center;
        color: #000000;
        padding: 10px;
        margin-bottom: 10px;
    }    

    fieldset {
        background-color: #d5f9f9ba;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 92%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    fieldset input[type="radio"] {
        margin-left: 5px;
        margin-top: 10px; /* Espaçamento entre o label e as estrelas */
    }
    
    fieldset label[for^="star"] {
        display: grid; /* Coloca os labels em linha */
        flex-direction: column; /* Organiza as estrelas em coluna */
        align-items: center; /* Centraliza o conteúdo */
        margin-left: 5px; /* Espaçamento entre os labels */
    }

    select {
        margin-left: 5x;
    }        

    label[for="feature1"], label[for="feature2"], label[for="feature3"], label[for="feature4"] {
        display: block;
        margin-bottom: 10px;
        color: #000000;
        font-weight: bold;
    }

    select,
    input[type="text"],
    input[type="date"],
    input[type="installationDate"],
    textarea {
        width: 100%;
        max-width: 362px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Garante que o padding não afete a largura total */
        font-weight: bold;
        margin-left: 5x;
    }
    
    textarea{
        margin-left: 5px;
    }
    
    input[type="text"]{
        margin-left: 5px;
    }
    
    div {
        font-style: italic;
        margin-left: 5px;
    }
    
    label {
        margin-left: 5px;
        font-weight: bold;
    }
    
    input[type="submit"] {
        width: 100%;
        max-width: 362px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        background-color: #fff1f1;
        color: #000000;
        font-weight: bold;
        margin-left: 5px;
    }
    
    span[class="label"] {
        text-align: center;
        font-weight: bolder;
        color: #000000;
    }
    
    #visits {
        color: navy;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
    }

    footer {
        background-color: #410a4d;
        color: #ffffff;
        text-align: center;
        border-radius: 2px 2px 0 0;
        border: 1px solid rgba(138, 138, 138, 0.1);
        width: 100%;
        max-width: 98%;
        margin: 0 auto;
    }
    
}
