@media screen and (min-width: 800px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
    }

    .temple-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .temple-grid img {
        max-width: 100%;
        height: auto;
    }

    .temple-grid figure {
        flex: initial;
    }
}
